doctype html
html

  include layouts/head
  body

    include partials/header
    include partials/nav

    // Each Section
    include partials/about
    include partials/location
    include partials/speakers
    include partials/schedule
    include partials/sponsors
    include partials/partners
    include partials/organizers
    include partials/footer
