section#about.section.section-speak(data-track="view", data-track-category="Section", data-track-label="About")

  .wrapper.text-center
    h1.section-title
      span #{labels.sections.about}

    .section-text
      p #{about.longDescription}
      p
        a.btn-default(data-scroll="", href="#{about.register.link}") #{about.register.message}
