footer.section.section-footer.text-center(data-track="view", data-track-category="Section", data-track-label="Footer")

  .wrapper

    a(href="/", data-track="click", data-track-category="Footer", data-track-label="Home") Home |

    a(href="/media-kit.html", data-track="click", data-track-category="Footer", data-track-label="Media Kit") Media Kit |

    a(href="http://confcodeofconduct.com/", target="_blank", data-track="click", data-track-category="Footer", data-track-label="Code of Conduct") Code of Conduct

include ./../layouts/scripts
