footer.section.section-footer.text-center(data-track="view", data-track-category="Section", data-track-label="Footer")

  .wrapper

    a(href="https://github.com/mabrasil/conf-boilerplate", target="_blank", data-track="click") Made with ♥ and Conf Boilerplate.

include ./../layouts/scripts
