.section-header {
  color: $black;
  background-image: url('../img/amsterdam_bw.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include respond-equal(sm) {
    background-image: url('../img/amsterdam_bw_768.jpg');
  }

  .wrapper {
    text-align: center;
  }

  .header-link {
    color: $black;
  }

  .header-logo {
    margin: $spacing-sm 0;
  }

  .header-logo-img {
    width: 130px;
    margin-bottom: $spacing-sm;
  }

  .header-logo-text {
    margin: $spacing-sm 0;
    font-size: em(50);
    font-weight: $normal;
    text-transform: uppercase;

    &.-small {
      font-size: em(30);
    }
  }

  .header-line {
    width: 500px;
    height: 1px;
    margin: $spacing-lg auto;
    border: 0;
    background: linear-gradient(to right,  transparent 0%, $white 50%, transparent 100%);
  }

  .header-details {
    display: block;
  }

  .header-ics:hover {
    color: transparentize( $white, 0.4 );
  }

  .header-date-location,
  .header-location {
    font-size: em(22);
    margin: $spacing-sm / 2 0;
  }

  .header-location {
    font-size: em(16);
  }

  @include respond-equal(sm) {
    .header-logo-img {
      width: 60px;
      margin-bottom: $spacing-sm / 3;
    }

    .header-logo-text {
      font-size: em(30);
      margin: $spacing-sm 0;

      &.-small {
        font-size: em(22);
      }
    }

    .header-line {
      width: 60%;
      margin: $spacing-sm auto;
    }

    .header-date-location,
    .header-location {
      font-size: em(16);
      margin: $spacing-sm / 2.5 0;
    }

    .header-location {
      font-size: em(14);
    }
  }
}
