// Header

.header
  background-image '../img/cover.jpg'
  background-color #2b2b2b
  background-repeat no-repeat
  background-position center bottom
  background-size 100% auto

.logo-link, .tagline, .call-action-area .price
  color #fff
  text-shadow 1px 2px 1px rgba(0, 0, 0, 0.3)

.tagline
  font-weight normal

.call-action-area .price
  color #fddd52

.call-action-area .call-action-link, .btn
  background-color #fddd52
  background-image -moz-linear-gradient(top, rgb(253, 221, 82, 1) 30%, rgb(240, 163, 3, 1) 150%)
  background-image -webkit-linear-gradient(top, rgb(253, 221, 82, 1) 30%, rgb(240, 163, 3, 1) 150%)
  filter progid:dximagetransform.microsoft.gradient('#fddd52', '#f0a303')
  background-image linear-gradient(top, rgb(253, 221, 82, 1) 30%, rgb(240, 163, 3, 1) 150%)
  color #2b2b2b
  text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
  box-shadow 0 2px 3px 0 rgba(0, 0, 0, 0.4), inset 0 -2px 3px 0 rgb(204, 127, 10, 1), inset 0 1px 0 0 rgb(255, 249, 177, 1)
  border-radius 40px

  .github-link
    position fixed
    top 0
    right 0
    z-index 11

  .github-link img
    border 0
