.section-location {

  .location-map {
    height: 500px;
  }

  @include respond-equal(sm) {
    .location-map {
      height: 200px;
    }
  }

  @include respond-equal(md) {
    .location-map {
      height: 400px;
    }
  }
}
