// Speaker

.speaker-photo .photo
  border-radius 50%
  box-shadow 0 0 0 8px rgba(0, 0, 0, 0.07)
  transition(all 0.3s ease-out)
.speakers-item:hover .speaker-photo .photo
  box-shadow 0 0 0 8px rgba(0, 0, 0, 0.3)
.speech-time
  color #fff
  background #2b2b2b
  border-radius 8px
