// Sponsors

.sponsor--link, .partner-link
  background #fff
  border 1px solid #ccc
  box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.15)
.sponsor--link:hover, .sponsor--link:focus, .partner-link:hover, .partner-link:focus
  border-color #f0a303
