.btn-default,
.btn-info,
.btn-primary,
.btn-danger {
  @extend a;
  display: inline-block;
  line-height: 21px;
  margin: 0;
  padding: 12px 40px;
  border: 2px solid $primary-color;
  border-radius: 3px;
  background-color: transparent;
  color: $primary-color;
  vertical-align: top;
  font-size: em(14);
  font-weight: $bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus, &:active {
    color: $white;
    background-color: $primary-color;
    outline: 0;
  }

  &:active {
    background-color: $secondary-color;
  }
}

.btn-small {
  padding: 6px 20px;
}

.btn-info {
  color: $white;
  background-color: $primary-color;

  &:active {
    background-color: $secondary-color;
  }
}

.btn-primary {
  color: $white;
  border-color: transparent;
  background-color: $primary-color;

  &:hover, &:focus, &:active {
    background-color: $secondary-color;
  }
}

.btn-danger {
  border-color: $primary-color;
  background-color: $primary-color;

  &:active {
    background-color: $primary-color;
  }
}
