// Breakpoints
$break-medium: 768px;
$break-large: 1280px;

// Background
$background: '../img/cover.jpg';

// Font weights
$normal: 300;
$bold: 700;

// Font sizes
$size-default: 16;
$size-sm: 16;

// Colors

// Custom
$primary-color: #4ab8a7;
$secondary-color: #32536e;

// Other
$white: #fff;
$gray: #adadad;
$light-gray: #d3d3d3;
$dark-gray: #888;
$black: #000;

$placeholder-color: #ececec;

// Common sizes
$spacing-lg: 40px;
$spacing-sm: 20px;
$nav-height-lg: 60px;
$nav-height-sm: 44px;
$border-radius: 4px;
