// Based on John Gerome Baldonado's Skeleton's stylus approach.

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Stylus Version originally by John Gerome Baldonado https://github.com/johngerome
* Stylus Version adapted by Matheus Brasil https://github.com/mabrasil
*/

@import "vendor/_mixins"
@import "vendor/_reset"
@import "vendor/_base"
@import "vendor/_media-queries"

@import "sections/_initial"
@import "sections/_navigation"
@import "sections/_header"
@import "sections/_content"
@import "sections/_about"
@import "sections/_location"
@import "sections/_speakers"
@import "sections/_schedule"
@import "sections/_sponsors"
@import "sections/_contact"

// Write your own syles here.
@import "custom"
