// Based on BrazilJS' Conf Boilerplate 2.0.0 styles.
// Stylus Version by Matheus Brasil https://github.com/mabrasil

@import "vendor/_mixins"
@import "vendor/_reset"
@import "vendor/_base"
@import "vendor/_media-queries"

@import "sections/_initial"
@import "sections/_navigation"
@import "sections/_header"
@import "sections/_content"
@import "sections/_about"
@import "sections/_location"
@import "sections/_speakers"
@import "sections/_schedule"
@import "sections/_sponsors"
@import "sections/_contact"

// Write your own syles here.
@import "custom"
